# Python & Sanal Ortamlar
__pycache__/
*.py[cod]
venv/
env/

# Veri Setleri ve Arşivler (GitHub'a YÜKLENMEMELİ)
merged_dataset/
animals.zip
visdrone.zip

# Model Ağırlıkları ve Eğitim Çıktıları
runs/
*.pt

# VSCode Ayarları
.vscode/